%form{ :method => 'post', :action => form_url }
  %div{ :style => "margin: 0pt; padding: 0pt; display: inline;" }
    %input{ :type => "hidden", :value => method, :name => "_method" }

  - labeled_field       subscription, :slug do
    - text_field subscription, :slug
    .inline.help        Name for this stream - is appended to the callback url
  - labeled_field       subscription, :rate do
    .inputbox
      - collection_select subscription, :rate, (1..100).to_a
    .inline.help        Percentage of stream sampled
    
  - labeled_field       subscription, :batch_size do
    - collection_select subscription, :batch_size, [1, 10, 20, 100, 200, 1000, 2000, 10_000]
    .inline.help        Maximum number of events in each publishing callback

  - labeled_field       subscription, :type do
    - collection_select subscription, :type, %w[all application_users application_users_and_friends user_list], :camelize, :humanize

  - labeled_field       subscription, :meta_data do
    - checkbox_group    subscription, :meta_data, %w[UserInfo UserSubscribers ApplicationData]
    -# .help        	UserInfo (UserId , DisplayName, LargeProfileImage, MediumProfileImage, UserType, Nickname, ProfileUrl, HasApp) ; UserSubscribers (User’s subscribers (followers), Up to 1000 IDs per request ) ; ApplicationData (User’s application data )
  - labeled_field       subscription, :format do
    - collection_select subscription, :format, { 'application/atom+xml' => 'XML', 'application/json' => 'JSON' }
  -# - labeled_field       subscription, :status do
  -#   - checkbox          subscription, :status, 'Active'
  %dt  Status
  %dd
    = subscription.status
    %input{ :type => "hidden", :value => 'Active', :name => "subscription[status]" }
  - labeled_field       subscription, :query_as_json do
    - text_area subscription, :query_as_json, :rows =>10
    %ul.help.inline
      %li query-user_type:	StandardAccount, Band, Comedian, FilmMaker, Advertiser
      %li query-text:	        A word or a phrase within the event. Alphanumerics only, up to 140 characters
      %li query-culture:	5 character culture code
      %li query-location-lat, query-location-lng, query-location-radius
      %li age:	                (a positive integer)
      %li gender:	        Female, Male
      %li
        Helpful links:
        - link_to "Stream API Documentation", "http://wiki.developer.myspace.com/index.php?title=Real_Time_Stream_Functional_Overview"
        &mdash;
        - link_to "MySpace API Announcement", "http://developer.myspace.com/Community/blogs/devteam/archive/2009/12/08/opening-the-flood-gates-and-unleashing-the-data.aspx"
    %ul.help
      %li query-object:	        application, article, audio, audio-podcast, band, bandshow, birthday, blog-entry, bookmark, bulletin, channelpage, comedian, comment, contest, emailaddress, event, file, filmmaker, forum_topic, friend_category, group, mobileapplication, movie, music-album, name, note, person, photo, photo-album, place, playlist, poll, profile, review, socialwebsite, song, tv-episode, userpage, video, video-podcast, website
      %li query-verb:	        accepttag, delete, favorite, follow, install, join, make-friend, play, post, register, rsvp-maybe, rsvp-no, rsvp-yes, save, share, show, tag, update, use
      %li query-source:	        Web, Mobile, TwitterSync, for applications, an application is specified as follows: "applicationId.123456" where 123456 is the application ID
      
  %dt  Endpoint
  %dd= subscription.endpoint
  %dt &nbsp;
  %dd
    -submit_button "#{action.humanize} subscription"
