%h1 List of Current Subscriptions
-if @subscriptions.blank?
  .bigger.subscriptions  [No subscriptions found]
-else
  - @subscriptions.each do |subscription|
    !=partial :_subscription_show, :subscription => subscription
!=partial :_subscription_links
