%ul
  -(@subscriptions||[]).each do |subscription|
    %li
      !=partial :_subscription_show, :subscription => subscription 
%ul
  %li!=link_to "sample create", "/endpoint/myspace/subscriptions/create/note"
  %li!=link_to "sample delete", "/endpoint/myspace/subscriptions/1/delete"
